html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat';
    /* background-color: #423b88; */
    color: #13112b;
    font-size: 1.4rem;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */

    position: relative;
    max-width: 192.0rem;
    margin: 0 auto;
}

figure{
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    margin: 0 auto;

    min-width: 18.0rem;
    border-radius: 3.5rem;
    background-color: #f16192;
    padding: 1.8rem 4.4rem;

    color: white;
    
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
}

.btn-outline{
    border: 0.1rem solid #f16192;
    background-color: transparent;
    color: #f16192;
}

input{
    outline: none;
}

*{
    box-sizing: border-box;
    /* border: 0.1rem solid #a2a1bf; */
}

.container{
    max-width: 117.0rem;
    margin: 0 auto;
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column-direct{
    flex-direction: column;
}

.overlay{
    background-color: #423b88;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.9;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 3.6rem;

    font-size: 3.6rem;
    font-weight: 300;
    text-transform: uppercase;
    color:#423b88;
    letter-spacing: 0.18rem;
}
p{
    text-align: center;
    margin:0 auto;
    margin-bottom: 7.0rem;

    color: #949597;
    letter-spacing: 0.06rem;
    line-height: 2.4rem;

    max-width: 75%;
}

/*--------------------------
    HEADER
---------------------------*/

header{
    max-width: 177.4rem;
    margin: 0 auto;

    position: relative;
    z-index: 999;
    
    display: flex;

    padding: 2.5rem;

    color:white;
    text-transform: uppercase;
}

header .logo{
    margin-right: auto;
    display: flex;
    align-items: center;
}

header .logo span{
    padding-left: 1.5rem;

    font-weight: 600;
    font-size: 2.0rem;
    letter-spacing: 0.1rem;
}    

header .menu{
    display: flex;
    align-items: center;

    font-size: 1.4rem;
    letter-spacing: 0.056rem;
}

header .menu .item{
    margin: 0 2.0rem;
    padding-bottom: 0.9rem;
}    

header .menu .item.selected{
    border-bottom: 0.1rem solid #f16192;
}    

header .menu .search{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -0.65rem;
}
    


/*--------------------------
    HEADER
---------------------------*/

main{
    margin-top: -9.5rem;
}

/*--------------------------
    SLIDER
---------------------------*/

#slider{
    position: relative;

    background-image: url(../images/slider_background.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    padding-top: 30rem;
    padding-bottom: 9.4rem;

    text-align: center;

    color: white;
}

#slider h1{
    font-weight: 600;
    font-size: 5.6rem;
    letter-spacing: 0.28rem;
    text-transform: uppercase;
    line-height: 7.2rem;

    width: 60%;
    margin: 0 auto;
}

#slider p{
    color: white;
    
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: 0.0288rem;

    margin-top: 4.4rem;
    margin-bottom: 7.4rem;
}    

#slider button{
    margin-bottom: 24.8rem;
}    

#slider .mouse-hint{
    margin: 0 auto;

    width: 2.6rem;
    height: 4.2rem;
    background-image: url(../images/scroll.png);
    background-position: center;
    background-repeat: no-repeat;
}

#slider .container{
    max-width: 177.4rem;
}    

#slider nav{
    position: absolute;
    top:0; bottom: 0; right: 2.5rem;
    margin: auto;
    
    height: 50%;
    width: 2rem;
}

#slider nav .item{
    margin: 1.0rem 0;

    border-radius: 3.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid #69649b;
}

#slider nav .item.selected{
    background-color: #69649b;
}    

/*--------------------------
    SERVICES
---------------------------*/

#services{
    background-color: #f4f5f7;

    padding: 11.6rem 0;
}

#services .item{
    width: 33.333%;
    text-align: center;
}

#services .item .icon{
    height: 7.0rem;
    position: relative;
}    

#services .item .icon img{
    position: absolute;
    right: 0; left: 0; top: 0;bottom: 0;
    margin: auto;
}    

#services .item h3{
    text-transform: uppercase;
    color: #423b88;
    font-weight: 600;
    font-size: 1.6rem;
}    

#services .item p{
    max-width: 90%;
    margin-bottom: 0;
}    

/*--------------------------
    PORTFOLIO
---------------------------*/

#portfolio{
    padding: 11.6rem 0;
}

#portfolio .gallery{
    display: flex;
    margin-bottom: 7.6rem;
}

#portfolio .general-item{
    overflow: hidden;
    width: 40%;
}    

#portfolio .secondary-items{
    display: flex;
    flex-wrap: wrap;

    width: 60%;
}

#portfolio .secondary-items .item{
    overflow: hidden;
    width: 33.333%;
}    

#portfolio .general-item img,    
#portfolio .secondary-items .item img{
    height: 100%;
}    

/*--------------------------
    FEATURES
---------------------------*/

#features{
    background-color: #f4f5f7;
    padding: 11.6rem 0;
}

#features .card{
    background-color: white;
    width: 47.428%;
    margin: 1.5rem;

    padding-top: 6.0rem;
    padding-left: 2.5rem;
    padding-bottom: 4.0rem;

    display: flex;

    border-radius: 0.5rem;
    box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.1); 
}

#features .card .icon{
    border: 0.2rem solid #423b88;
    border-radius: 3.4rem;
    
    width: 6.8rem;
    height: 6.8rem;
    margin-right: 2.4rem;

    background-position: center;
    background-repeat: no-repeat;
}    

#features .card .icon.responsive{
    background-image: url(../images/features/responsive.png);
}    

#features .card .icon.ideas{
    background-image: url(../images/features/ideas.png);
}    

#features .card .icon.animation{
    background-image: url(../images/features/animation.png);
}    

#features .card .icon.easy{
    background-image: url(../images/features/easy.png);
}    

#features .card .icon.multi-purpose{
    background-image: url(../images/features/multi_purpose.png);
}    

#features .card .icon.support{
    background-image: url(../images/features/support.png);
}  
#features .card .description{
    max-width: 39.0rem;
}    

#features .card .description h3{
    margin: 0;
    color: #423b88;
    font-size: 2.4rem;
    font-weight: 400;

    margin-bottom: 2.4rem;
}    

#features .card .description p{
    margin: 0;
    max-width: 100%;
    text-align: left;
}    

/*--------------------------
    VIDEO
---------------------------*/
#video{
    position: relative;

    background-image: url(../images/video_background.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    padding: 14.0rem;

}

#video button.btn-play{
    min-width: 0;
    padding: 0;

    border-radius: 4.0rem;

    width: 8.0rem;
    height: 8.0rem;

    border: 0.1rem solid #f16192;
    background-color: transparent;
    background-image:url(../images/play.png);
    background-position: center;
    background-repeat: no-repeat;
}    

#video h2{
    margin-top: 4.5rem;
    color: white;
}

#video p{
    width: 50%;
    color: white;
    margin: 0 auto;
}    

/*--------------------------
    SKILLS
---------------------------*/
#skills{
    position: relative;
    
    background-image: url(../images/man_red.png);    
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: -35% 100%;

    padding: 16.2rem 0;
}

#skills .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}    

#skills .row{
    /* background-color: rgba(255, 255, 255, 0.75); */
    width: 50%;
}

#skills h2,
#skills p{
    text-align: left;
}

#skills p{
    margin: 0;
    max-width: 90%;
    margin-bottom: 0.4rem;
}    

#skills .skill-chart .item{
    margin-top: 3.6rem;
}

#skills .skill-chart .item p{
    margin-bottom:1.0rem;
    font-weight: 600;
}    

#skills .skill-chart .item .bar{
    width: 100%;
    height: 0.5rem;
    background-color: #e4e5e6;

}
    
#skills .skill-chart .item .progress{
    height: 0.5rem;
    background-color: #423b88;
    position: relative;
}    

#skills .skill-chart .item .progress.web,
#skills .skill-chart .item .progress.photoshop,
#skills .skill-chart .item .progress.illustration{    
    width: 80%;
}    

#skills .skill-chart .item .progress.photography{
    width: 70%;
}    

#skills .skill-chart .item .progress.web:after,
#skills .skill-chart .item .progress.photoshop:after,
#skills .skill-chart .item .progress.illustration:after{    
    content: "80%";
    text-align: center;
    color: white;
    background-color: #f16192;

    display: block;
    position: absolute;

    padding: 0.7rem 1.7rem;
    border-radius: 3.5rem;

    top:-4.0rem;
    right: 0;
    box-shadow: 0px 4px 5px 0px rgba(241, 97, 146, 0.4); 
}

#skills .skill-chart .item .progress.photography:after{
    content: "70%";
    text-align: center;
    color: white;
    background-color: #f16192;

    display: block;
    position: absolute;

    padding: 0.7rem 1.7rem;
    border-radius: 3.5rem;

    top:-4.0rem;
    right: 0;
    box-shadow: 0px 4px 5px 0px rgba(241, 97, 146, 0.4); 
}    

/*--------------------------
    TEAM
---------------------------*/
#team{
    background-color: #f4f5f7;

    padding: 11.5rem 0;
}

#team .member{
    text-align: center;
    width: 33.333%;
}

#team .member .photo{
    width: 27.4rem;
    height: 27.4rem;
    border-radius: 13.7rem;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1); 
    
    overflow: hidden;

    margin: 0 auto;
}    

#team .member .photo img{
    height: 100%;
    margin-left: -10%;
}    

#team .member h3{
    color: #423b88;
    text-transform: uppercase;
    font-size: 2.2rem;

    margin-top: 2.4rem;
    margin-bottom: 0.4rem;
}   

#team .member p{
    font-size: 1.8rem;
    margin-bottom: 3rem;
}    

#team .member .social-media a{
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    background-repeat: no-repeat;
    background-image: url(../images/team/social_media.png);
}    

#team .member .social-media a.twitter{
    background-position: 0 center;
}    

#team .member .social-media a.linkedin{
    background-position: -4.0rem center;
}

#team .member .social-media a.instagram{
    background-position: -8.0rem center;
}

#team .member .social-media a.dreeeble{
    background-position: -12.0rem center;
}    

#team button{
    margin-top:7.4rem;
    min-width: 0;
    padding: 0;

    width: 4.4rem;
    height: 4.4rem;
    
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}
    
#team button.btn-left{
    margin-right: 0.7rem;    
    background-image: url(../images/team/arrow_left.png);
}

#team button.btn-right{
    margin-left: 0.7rem;    
    background-image: url(../images/team/arrow_right.png);
}

/*--------------------------
    CLIENTS
---------------------------*/

#clients{
    text-align: center;
}

#clients .client{
    width: 40%;
    align-self: center;
}

/*--------------------------
    BLOG
---------------------------*/

#our-blog .post{
    width: 25%;
}

#our-blog .post figure{
    overflow: hidden;
}

#our-blog .post footer{
    display: flex;
}    

#our-blog .post footer time{
    margin-right: auto;
}    
    
/*--------------------------
    BANNER
---------------------------*/
#banner h2{
    margin-right: auto;
}

/*--------------------------
    FOOTER
---------------------------*/

footer .logo{
    display: flex;
    align-items: center;
}

footer .item{
    width: 25%;
}

footer .recent-projects .posts{
    display: flex;
    flex-wrap: wrap;
}
    
footer .recent-projects .preview{
    width: 33.333%;
    overflow: hidden;
}    

footer .recent-projects .preview img{
    height: 100%;
}    

footer .copyright{
    display: flex;
}    

footer .copyright .social-media{
    margin-right: auto;
}    